## Formulas para Normalizar e Padronizar

In [ ]:
# Formula da normalização
def normalizar(x): # X será uma lista de valores númericos
    return (x - np.min(x)) / (np.max(x) - np.min(x))

# Formula de padronizar
def padronizar(x):
    return (x - np.mean(x)) / np.std(x)

#

## Exemplos Numpy e TXT

In [21]:
dados = {
    'nome' : ['João', 'Maria', 'Kaue'],
    'nota' : [10.0, 1.0, 8.5],
    'mensalidade' : [1700.0, 2500.0, 1500.0],
    'idade' : [20, 25, 28]
}

In [22]:
import pandas as pd

df = pd.DataFrame(dados)

df

    nome  nota  mensalidade  idade
0   João  10.0       1700.0     20
1  Maria   1.0       2500.0     25
2   Kaue   8.5       1500.0     28

In [23]:
import numpy as np

print(np.mean(df['nota'])) # media
print(np.std(df['nota'])) # desvio padrão
print(np.max(df['nota'])) # máximo valor da coluna
print(np.min(df['nota'])) # menor valor da coluna

6.5
3.9370039370059056
10.0
1.0

In [24]:
normalizar(df['idade'])
padronizar(df['idade'])

0   -1.313198
1    0.202031
2    1.111168
Name: idade, dtype: float64

In [25]:
import pandas as pd

df_txt = pd.read_csv("funcionarios.txt", delimiter=',')

df_txt = df_txt.drop(columns=['nome'])

df_txt = df_txt.dropna()

df_txt.head()

   idade  salario
2   25.0  12900.0
3   30.0  39000.0
4   21.0   4000.0

In [26]:
df_txt['idade'] = normalizar(df_txt['idade'])

df_txt

      idade  salario
2  0.444444  12900.0
3  1.000000  39000.0
4  0.000000   4000.0

In [27]:
df['nota'] = normalizar(df['nota'])

df

    nome      nota  mensalidade  idade
0   João  1.000000       1700.0     20
1  Maria  0.000000       2500.0     25
2   Kaue  0.833333       1500.0     28